html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000000;
}

/*
  * Formatting the header area
  */

header {
    background-color: #000000;
    height: 4.25%;
    width: 100%;
    position: fixed;
    z-index: 1;
}

header h1.logo {
    margin: 0;
    font-size: 1.7em;
    color: #FEFEC1;
    float: left;
}

/*
  * Center the body content
  */

.container {
    width: 1200px;
    margin: 0 auto;
}

div.homePage {
    padding: 10px 0 30px 0;
    background-color: #E6E6FA;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

div.awayPage {
    padding: 10px 0 30px 0;
    background-color: #E6E6FA;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

div.Wilkommen {
    background-image: url("DealOrNoDeal.jpeg");
    background-size: cover;
    background-position: center;
    height: 100%;
}

div.moneyWrapper {
    border: 5px solid gold;
    background-color: gold;
    box-shadow: -10px 10px 10px grey;
    font-size: 1.5em;
}

div.noMoneyWrapper {
    border: 10px solid white;
    box-shadow: -10px 10px 10px grey;
    font-size: 1.5em;
}

div.info {
    position: absolute;
    top: 40px;
    right: 10px;
    width: 300px;
    height: 60px;
    text-align: center;
    font-family: "Brush Script MT";
    font-style: italic;
    color: green;
    font-size: 1.5em;
    border: 5px dotted black;
    vertical-align: middle;
    padding-top: 5px;
    padding-right: 5px;
}

div.cases {
    padding: 35px;
}

div.rev{
    padding: 35px;
    background: radial-gradient(circle, rgba(254, 253, 193, 1) 0%, rgba(194, 131, 50, 1) 100%);;
    height: 91.65%;
}

div.question, div.questionCenter {
    font-family: "Brush Script MT";
    font-style: italic;
    font-size: 3em;
}

div.questionCenter {
    text-align: center;
    vertical-align: center;
    position: relative;
    top: 100px;
}

div.sidebottom {
    font-family: "Brush Script MT";
    font-style: italic;
    color: grey;
    font-size: 1.5em;
}

div.trophy {
    position: absolute;
    top: 30%;
    left: 45%;
}

canvas {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

div.youWin {
    font-size: 3.5em;
    font-family: "Brush Script MT";
    font-weight: bold;
    color: black;
    height: 100%;
    text-align: center;
    position: relative;
}

h2 {
    font-size: 3em;
    margin-top: 40px;
    text-align: center;
    letter-spacing: -2px;
}

h3 {
    font-size: 1.7em;
    font-weight: 100;
    margin-top: 30px;
    text-align: center;
    letter-spacing: -1px;
    color: #999;
}

.startButtonWrapper {
    background-image: url('small-button.png');
    background-size: cover;
    position: fixed;
    left: 44.445%;
    top: 80%;
    width: 11.11%;
    height: 8.36%;
}

.startButton {
    font-family: Snell Roundhand, cursive;
    vertical-align: middle;
    width: 87.5%;
    height: 85.714%;
    position: relative;
    top: 6.25%;
    left: 7.143%;
    border: none;
    font-size: 1.5em;
    background-color: transparent;
    z-index: 1;
}

.startButton:hover {
    color: white;
}

.startButton:active {
    color: blue;
}

.howManyGrid {
    width: 50.29%;
    min-height: 100%;
}

.moneyFigures {
    min-height: 675px;
    margin: 25px
}

.caseButtonWrapper {
    background-image: url('balloon.png');
    background-size: cover;
    height: 225px;
    width: 225px;
}

.caseButton {
    vertical-align: middle;
    width: 22.22%;
    height: 22.22%;
    position: relative;
    top: 33.33%;
    background-color: transparent;
    font-size: 2em;
    border: none
}

.buttonWrapper {
    background-size: cover;
    height: 225px;
    width: 225px;
    display: inline-block;
    top: 40.23%;
    position: absolute;
}

.dealWrapper {
    background-image: url('gold.JPG');
    left: 27.777%;
    width: 245px;
    height: 245px;
    top: 39.08%;
}

.noDealWrapper {
    background-image: url('redButton.PNG');
    right: 27.777%;
}

.dealWrapper:active {
    width: 207px;
    height: 207px;
    top: 41.3%;
    left: 29.7%;
    background-image: url('goldIndent.png');
}

.deal {
    vertical-align: middle;
    width: 61.22%;
    height: 20.41%;
    position: relative;
    top: 100px;
    left: 52.5px;
    background-color: transparent;
    font-size: 2em;
    border: none
}

.noDeal {
    vertical-align: middle;
    width: 66.6666667%;
    height: 22.222222%;
    position: relative;
    top: 40%;
    left: 15.55555556%;
    background-color: transparent;
    font-size: 2em;
    border: none
}

.medal {
    position: relative;
    right: 30.405%;
    top: 18.75%;
    height: 400px;
}

.caseButton:hover:enabled {
    color: #C0A45D;
}

.caseButton:active:enabled {
    color: #FEFEC1;
}

.deal:hover {
    color: #C0A45D;
}

.deal:active {
    color: #FEFEC1;
    top: 86px;
    left: 38px;
}

.noDeal:hover {
    color: #C0A45D

}

.noDeal:active {
    color: #FEFEC1
}

td {
    text-align: center;
    width: 225px;
    vertical-align: top;
    color: green;
    padding: 0px;
}

tr {
    height: 100px;
}

.menu {
    float: right;
    margin-top: 8px;
}

.menu li {
    display: inline;
}

.menu li+li {
    margin-left: 35px;
}

.menu li a {
    color: #FEFEB1;
    text-decoration: none;
}

.menu li a:hover {
    color: #C6A350;
    text-decoration: none;
    cursor: pointer;
}

.menu li a:active {
    color: white;
}