<!DOCTYPE html>
<html>
    <head>
        <title> Deal or No Deal </title>
        <link rel = "stylesheet" href = "{{url_for('static', filename = 'main.css')}}" >
    </head>
    <body>
        <header>
            <div class = "container">
                <h1 class = "logo"> Deal or No Deal </h1>
                <strong>
                    <nav>
                        <ul class = "menu">
                            <li><a href = "{{url_for('index')}}" > Home </a></li>
                        </ul>
                    </nav>
                </strong>
            </div>
        </header>
        {%block content%}
        {%endblock%}
    </body>
</html>